<h1 align="center">AN√ÅLISE DE DADOS DE SUIC√çDIO NO BRASIL</h1>
<h4 align="center">Entre os anos de 1987 √† 2016</h4>

--------------------------------------------------------------------------------

<h3 align="center"> Disclaimer / Aviso Legal ‚ö†Ô∏è</h3>
<p align="center">Este notebook tem um fim √∫nico e exclusivamente did√°tico, para alunos da FATEC, como uma introdu√ß√£o √† An√°lise de Dados P√∫blicos.
Desse modo, est√° exclu√≠da a garantia ou responsabilidade de qualquer tipo, por exemplo, de precis√£o, confiabilidade, completude e atualidade das informa√ß√µes.</p>

--------------------------------------------------------------------------

An√°lise da taxa de suicidio no Brasil
--------------------------------------------------------

#### üîπ Atividades na primeira semana
- ‚úî Importa√ß√£o das bibliotecas que ser√£o utilizadas
- ‚úî Importa√ß√£o do primeiro DataSet 'suicidio 2016'
- An√°lise do tamanho do arquivo (Linhas x Colunas)
- An√°lise de informa√ß√µes detalhadas da tabela
- Limpeza dos dados: deixar apenas o que vai ser utilizado

# Indice do status da atividades

| |||
|---------------|--------------------|-----------------|
|‚úî - Finalizado| üîπ - Desenvolvendo | üî∏- N√£o iniciado|

In [ ]:
# Importando bibiotecas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

<h2 align="center">Importando o primeiro DataSet com dados dos anos de 1987 - 2016</h2>

In [ ]:
# Importando o DataSet de dados com os casos de Covid-19
dados_mundiais_d1 = pd.read_csv('https://gist.githubusercontent.com/littlebru/c14170c16839c58ce3ab939cc2dba675/raw/354afe9457639a8fe4d9d60253997a6284cd7a01/suicide_1987-2016.csv')

In [ ]:
# 5 primeiras linhas do DataSet
dados_mundiais_d1.head()

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]

<h1 align="center">Importando Dados do Segundo DataSet</h1>

In [ ]:
dados_mundiais_d2 = pd.read_csv('https://gist.githubusercontent.com/littlebru/c14170c16839c58ce3ab939cc2dba675/raw/354afe9457639a8fe4d9d60253997a6284cd7a01/suicide_statistics.csv')

-----------------------------------------------

<h1 align="center">Informa√ß√µes detalhadas dos DataSets üßæ</h1>

Nos c√≥digos abaixo, eu vou estar extraindo informa√ß√µes do tipo:
- Total de linhas e colunas do dataset
- Tipos de dados existentes
- Listagem de todas as colunas

In [ ]:
# Total de linhas X colunas
dados_mundiais_d1.shape

(27820, 12)

In [ ]:
# Tipos de dados existentes na tabela
dados_mundiais_d1.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [ ]:
list(dados_mundiais_d1.columns)

['country',
 'year',
 'sex',
 'age',
 'suicides_no',
 'population',
 'suicides/100k pop',
 'country-year',
 'HDI for year',
 ' gdp_for_year ($) ',
 'gdp_per_capita ($)',
 'generation']

## Limpando os Dados üßº

Abaixo eu vou estar realizando uma "limpeza" nos dados, como:
- Substituindo valores nulos
- Removendo linhas e colunas que n√£o ser√£o utilizadas na an√°lise