<h1 align="center">AN√ÅLISE DE DADOS DE SUIC√çDIO NO BRASIL</h1>
<h4 align="center">Entre os anos de 2000 √† 2016</h4>

--------------------------------------------------------------------------------

<h3 align="center"> Disclaimer / Aviso Legal ‚ö†Ô∏è</h3>
<p align="center">Este notebook tem um fim √∫nico e exclusivamente did√°tico, para alunos da FATEC, como uma introdu√ß√£o √† An√°lise de Dados P√∫blicos.
Desse modo, est√° exclu√≠da a garantia ou responsabilidade de qualquer tipo, por exemplo, de precis√£o, confiabilidade, completude e atualidade das informa√ß√µes.</p>

--------------------------------------------------------------------------

An√°lise da taxa de suicidio no Brasil
--------------------------------------------------------

#### üîπ Atividades na primeira semana
- ‚úî Importa√ß√£o das bibliotecas que ser√£o utilizadas
- ‚úî Importa√ß√£o do primeiro DataSet 'suicidio 2016'
- An√°lise do tamanho do arquivo (Linhas x Colunas)
- An√°lise de informa√ß√µes detalhadas da tabela
- Limpeza dos dados: deixar apenas o que vai ser utilizado

# Indice do status da atividades

| |||
|---------------|--------------------|-----------------|
|‚úî - Finalizado| üîπ - Desenvolvendo | üî∏- N√£o iniciado|

In [ ]:
# Importando bibiotecas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<h2 align="center">Importando o primeiro DataSet com dados dos anos de 1987 - 2016</h2>

In [ ]:
# Importando o DataSet de dados com os casos de Covid-19
dados_mundiais_d1 = pd.read_csv('https://gist.githubusercontent.com/littlebru/c14170c16839c58ce3ab939cc2dba675/raw/354afe9457639a8fe4d9d60253997a6284cd7a01/suicide_1987-2016.csv')

In [ ]:
# 5 primeiras linhas do primeiro DataSet
dados_mundiais_d1.head()

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]

<h1 align="center">Importando Dados do Segundo DataSet</h1>

In [ ]:
dmd2 = pd.read_csv('https://gist.githubusercontent.com/littlebru/c14170c16839c58ce3ab939cc2dba675/raw/354afe9457639a8fe4d9d60253997a6284cd7a01/suicide_statistics.csv')

In [ ]:
# 5 primeiras linhas do segundo DataSet
dmd2.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

-----------------------------------------------

<h1 align="center">Informa√ß√µes detalhadas dos DataSets üßæ</h1>

Nos c√≥digos abaixo, eu vou estar extraindo informa√ß√µes do tipo:
- Total de linhas e colunas do dataset
- Tipos de dados existentes
- Listagem de todas as colunas

**DataSet 1**

In [ ]:
# Total de linhas X colunas
dados_mundiais_d1.shape

(27820, 12)

In [ ]:
# Tipos de dados existentes na tabela
dados_mundiais_d1.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [ ]:
list(dados_mundiais_d1.columns)

['country',
 'year',
 'sex',
 'age',
 'suicides_no',
 'population',
 'suicides/100k pop',
 'country-year',
 'HDI for year',
 ' gdp_for_year ($) ',
 'gdp_per_capita ($)',
 'generation']

**DataSet 2**

In [ ]:
#Total de linhas x colunas
dmd2.shape

(43776, 6)

In [ ]:
#Tipos de dados existentes na tabela
dmd2.dtypes

country         object
year             int64
sex             object
age             object
suicides_no    float64
population     float64
dtype: object

In [ ]:
list(dmd2.columns)

['country', 'year', 'sex', 'age', 'suicides_no', 'population']

## Limpando os Dados üßº

Abaixo eu vou estar realizando uma "limpeza" nos dados, como:
- Substituindo valores nulos
- Removendo linhas e colunas que n√£o ser√£o utilizadas na an√°lise

In [ ]:
#An√°lise do n√∫mero de ocorr√™ncias de cada pa√≠s
dmd2['country'].value_counts()

Mauritius                   456
Romania                     456
United States of America    456
Iceland                     456
Netherlands                 456
                           ...
Saudi Arabia                 24
Macau                        12
Cabo Verde                   12
Iraq                         12
Zimbabwe                     12
Name: country, Length: 141, dtype: int64

In [ ]:
#Verifica√ß√£o de campos nulos
qds = dmd2.query('country == "Brazil"')
qds.isnull().sum()

country        0
year           0
sex            0
age            0
suicides_no    0
population     0
dtype: int64

In [ ]:
#Contagem para certificar que pegamos todas as apari√ß√µes do Brasil
dados = pd.DataFrame(dmd2['country'])
dados.query('country == "Brazil"').count

<bound method DataFrame.count of      country
6204  Brazil
6205  Brazil
6206  Brazil
6207  Brazil
6208  Brazil
...      ...
6643  Brazil
6644  Brazil
6645  Brazil
6646  Brazil
6647  Brazil

[444 rows x 1 columns]>

In [ ]:
#Cria√ß√£o de um DataFrame apenas com os dados Brasil
df = dmd2[6204:6648]
bai = pd.DataFrame(df)
bai

     country  year     sex          age  suicides_no  population
6204  Brazil  1979  female  15-24 years        385.0  12448100.0
6205  Brazil  1979  female  25-34 years        227.0   8867900.0
6206  Brazil  1979  female  35-54 years        269.0  10282200.0
6207  Brazil  1979  female   5-14 years         47.0  14135000.0
6208  Brazil  1979  female  55-74 years        121.0   4678800.0
...      ...   ...     ...          ...          ...         ...
6643  Brazil  2015    male  25-34 years       1897.0  17625976.0
6644  Brazil  2015    male  35-54 years       3238.0  26989063.0
6645  Brazil  2015    male   5-14 years         79.0  16057040.0
6646  Brazil  2015    male  55-74 years       1693.0  12987357.0
6647  Brazil  2015    male    75+ years        470.0   2448560.0

[444 rows x 6 columns]